<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To2Rent</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/style.css">
    
</head>
<body>    
    @*<header class="header">
        <div class="logo header__logo">
            <a class="logo__link" asp-controller="Home" asp-action="Index">
                <img class="logo__link-img" src="~/Images/logo.svg" alt="logo">
            </a>
        </div>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a class="menu__list-link menu__list-link--active" asp-controller="Home" asp-action="Index">О нас</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-link" asp-controller="Home" asp-action="House">Дома</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-link" asp-controller="Home" asp-action="Apartments">Квартиры</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-link" asp-controller="Home" asp-action="Contacts">Контакты</a>
                </li>
            </ul>
        </nav>
    </header>*@
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="footer__top">
            <div class="container">
                <div class="footer__top-inner">
                    <nav class="footer__menu">
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" asp-controller="Home" asp-action="Index">О нас</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" asp-controller="Home" asp-action="House">Дома</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" asp-controller="Home" asp-action="Apartments">Апартаменты</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" asp-controller="Home" asp-action="Reviews">Отзывы</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" asp-controller="Home" asp-action="Contacts">Контакты</a>
                            </li>
                        </ul>
                    </nav>

                    <form class="footer__form">
                        <label class="footer__form-label">
                            Связаться <br>
                            с нами
                        </label>
                        <input class="footer__form-input" type="text" placeholder="Задать вопрос">
                        <button class="footer__form-btn" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="logo footer__logo">
            <a class="logo__link" href="#">
                <img class="logo__link-img" src="~/Images/logo.svg" alt="logo">
            </a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/wwwroot/js/slick.min.js"></script>
    <script src="~/wwwroot/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
