
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/Home_Category.css" />
}

<main>
    <h1>Category</h1>
    <ul class="flex-container">
        <li class="flex-item">
            <a asp-controller="Home" asp-action="Category">
                <figure>
                    <img class="images" src="~/Images/Clothes1.png" alt="Clothes" />
                    <figcaption>Одежда</figcaption>
                </figure>
            </a>
        </li>
        <li class="flex-item">
            <a asp-controller="Home" asp-action="Category">
                <figure>
                    <img class="images" src="~/Images/Laptop.jpg" alt="Laptops" />
                    <figcaption>Ноутбуки</figcaption>
                </figure>
            </a>
        </li>
        <li class="flex-item">
            <a asp-controller="Home" asp-action="Category">
                <figure>
                    <img class="images" src="~/Images/Furniture.jpg" alt="Furniture" />
                    <figcaption>Мебель</figcaption>
                </figure>
            </a>
        </li>
        <li class="flex-item">
            <a asp-controller="Home" asp-action="Category">
                <figure>
                    <img class="images" src="~/Images/CoffeeMachine.jpg" alt="CoffeeMachine" />
                    <figcaption>Кофеварки</figcaption>
                </figure>
            </a>
        </li>
        <li class="flex-item">
            <a asp-controller="Home" asp-action="Category">
                <figure>
                    <img class="images" src="~/Images/Fridge.jpg" alt="Fridge" />
                    <figcaption>Холодильники</figcaption>
                </figure>
            </a>
        </li>
        <li class="flex-item">
            <a asp-controller="Home" asp-action="Category">
                <figure>
                    <img class="images" src="~/Images/VacuumCleaner.jpg" alt="VacuumCleaner" />
                    <figcaption>Пылесосы</figcaption>
                </figure>
            </a>
        </li>
    </ul>
</main>




