
@{
    ViewData["Title"] = "FinishOrder";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
    <div class="container alert-success">
        <h1 class="text-success">Order complete</h1>
        <h3>Thank you for your order.</h3>
        <a class="btn btn-success" asp-controller="Home" asp-action="Index">Return to Home page</a>
    </div>
