@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Персональная информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Твой аккаунт содержит персональную информацию. Здесь можно скачать или удалить ее.</p>
        <p>
            <strong>Удаление информации немедленно приведет к удалению аккаунта без возможности востановления</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Скачать</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}